@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

/* Global selector */
* {
    background-color: #32374e;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

/* Selector for the entire body */
body {
    overflow-x: hidden;
}

/* Selector for the div that contains my name and the description of my major */
.container .name {
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    color: #edf0f1;
    flex-direction: column;
}

/* Selector for my name */
.name h1 {
    font-size: 300%;

}

/* Selector for the description of my major */
.container .name h4 {
    padding-top: 7px;
    color: #0391b4;
}

/* Selector for the navbar and navbar links */
.navbar, .navbar-links {
    font-weight: 500;
    font-size: 20px;
    background-color: #0391b4;

}

/* Selector for the entire navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

/* Selector for the logo */
.logo {
    width: 60px;
    margin: -10px;
    margin-left: 5px;
    background-color: #0391b4;
}

/* Selector for the a box that allows the logo to be clickable */
.navbar a {
    background-color: #0391b4
}

/* Selector for the class that contains the list in the heading */
.navbar-links {
    list-style: none;
}

/* Selector for the entire list in the heading as a whole */
.navbar-links li {
    background-color: #0391b4;
}

/* Selector for individual list items */
.navbar-links li a {
    display: inline-block;
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    transition: all 0.7s ease 0s;
    background-color: #0391b4;

}

/* Change colors when hovering over menu buttons */
.navbar-links li a:hover {
    color: #32374e;

}

/* Selector for text about my major */
.major h4 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 1px;
    animation: typing 2s steps(30, end), blink-caret .5s step-end infinite;

}

/* Typing animation for text about my major */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}






