@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

/* Global selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

/* Selector for the entire body */
body {
    overflow-x: hidden;
}

/* Selector for main section */
.main {
    height: 100vh;
    background-image: url('main-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.main::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    z-index: -1;
    content: '';
}

/* Selector for the div that contains my name and the description of my major */
.container .name {
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: absolute;
}

/* Selector for my name */
.name h1 {
    font-size: 300%;

}

/* Selector for the description of my major */
.container .name h4 {
    padding-top: 7px;
    color: #0391b4;
}

/* Selector for the navbar and navbar links */
.navbar, .navbar-links {
    font-weight: 500;
    font-size: 20px;
    /* background-color: #0391b4; */

}

/* Selector for the entire navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

/* Selector for the logo */
.logo {
    width: 250px;
    margin: -10px;
    margin-left: 5px;
    /* background-color: #0391b4; */
}

/* Selector for the a box that allows the logo to be clickable */
/* .navbar a {
    background-color: #0391b4
} */

/* Selector for the class that contains the list in the heading */
.navbar-links {
    list-style: none;
}

/* Selector for individual list items */
.navbar-links li a {
    display: inline-block;
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    transition: all 0.7s ease 0s;
    /* background-color: #0391b4; */

}

/* Change colors when hovering over menu buttons */
.navbar-links li a:hover {
    color: #0391b4;

}

/* Selector for text about my major */
.major h4 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 1px;
    animation: typing 2s steps(30, end), step-end infinite;

}

/* Typing animation for text about my major */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Selector for down arrow div at the bottom of the home page */
.downarrow {
    position: relative;
    display: flex;
    justify-content: center;
    

}

/* Selector for down arrow image at the bottom of the home page */
.downarrow img {
    width: 40px;
    margin-top: 85%;
    animation: arrowmove 0.75s;
    animation-iteration-count: infinite;
}

@keyframes arrowmove {
    0% { margin-top: 83%;}
    50% { margin-top: 85%;}
    100% { margin-top: 83% }
}








